footer {
  color: $black;
  padding: 4rem;

  &::after {
    content: "";
    border-top-left-radius: 150% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom-left-radius: 50% 100%;
    position: absolute;
    transform: translateY(1300px);
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: $light-grey;
    height: 85%;
  }
}
