header {
  height: 70vh;
  background: linear-gradient($color-1, $white);
  p {
    font-size: $font-lg;
  }
}

@media (min-width: 768px) {
  header {
    p {
      font-size: $font-xl;
    }
  }
}

@media (min-width: 998px) {
  header {
    p {
      font-size: $font-2xl;
      padding: 0 10rem;
    }
  }
}
