#about {
  background-color: $dark-grey;
  h1 {
    color: $white;
  }
}

.wave {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.wave .shape-fill {
  fill: $dark-grey;
}
