.btn {
  border-radius: 0px;
  border: none;
  font-family: $font-secondary;
  &:hover {
    background-color: $color-3;
  }
}

.btn-primary {
  color: $white !important;
  background-color: $color-2;
}

.btn-send {
  @extend .btn-primary;
}

.scroll-top {
  position: fixed;
  color: $color-2;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: 30px;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(0px);
  }
}
